<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubofallthings.signup">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity android:name=".activity.SignupActivity"
                  android:configChanges="orientation"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>
</manifest>
